<IfModule mod_rewrite.c>
    RewriteEngine On

    # Serve static files/directories from Laravel public folder
    RewriteCond %{DOCUMENT_ROOT}/public/$1 -f [OR]
    RewriteCond %{DOCUMENT_ROOT}/public/$1 -d
    RewriteRule ^(.+)$ public/$1 [END]

    # Send all other requests to Laravel
    RewriteRule ^ index.php [L]
</IfModule>